!!!
%html{:lang => "en"}
  %head
    / Basic Page Needs
    %meta{:charset => "utf-8"}
    %title VaynerSays
    %meta{:name => "description", :content => "Gary Vaynerchuk social media content aggregator."}
    %meta{:name => "author", :content => "Bright Dotu"}

    / Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    / FONT
    %link{:href => "//fonts.googleapis.com/css?family=Raleway:400,300,600", :rel => "stylesheet", :type => "text/css"}

    / CSS
    %link{:rel => "stylesheet", :href => "/normalize.css"}
    %link{:rel => "stylesheet", :href => "/skeleton.css"}
    %link{:rel => "stylesheet", :href => "/flex.css"}

    / Favicon
    %link{:rel => "icon", :type => "image/ico", :href => "/favicon.ico"}

  %body
    / Primary Page Layout
    .container{:align => "center"}
      .row
        .eleven.columns{:style => "margin-top: 5%"}
        %h1 Wrong Turn Buddy!
        / Insert Cool GIF


    #footer
      Built by
      %a{:href => "http://brightdotu.com"}
        %i Bright
