!!!
%html{:lang => "en"}
  = haml :head

  %body
    / Primary Page Layout
    .container{:align => "center"}
      .row
        .eleven.columns{:style => "margin-top: 0%"}
          %button{:onclick => "dropdownFnc()", :class => "dropdown"} Today
          .dropdown-content{:id => "myDropdown"}
            %a{:href => "yesterday"} Yesterday
            %a{:href => "threedays"} 3 Days Ago
          %h3 Gary Vaynerchuk said:
          .flex-container
            %section
              / (DateTime.now - 1) ensures that videos from the last 24 hours are always returned.
              = haml :videos, :locals => {:time => DateTime.now - 1}

            %section.social-media
              #fb
                %p
                  %a{:href => "https://www.facebook.com/gary/"}Facebook Feed
              #twt
                %p
                  %a{:href => "https://twitter.com/garyvee"}Tweets
              #inst
                %p
                  %a{:href => "https://www.instagram.com/garyvee/"}Instagram Feed

    = haml :footer
