!!!
%html{:lang => "en"}
  %head
    / Basic Page Needs
    %meta{:charset => "utf-8"}
    %title VaynerSays
    %meta{:name => "description", :content => "Gary Vaynerchuk social media content aggregator."}
    %meta{:name => "author", :content => "Bright Dotu"}

    / Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    / FONT
    %link{:href => "//fonts.googleapis.com/css?family=Raleway:400,300,600", :rel => "stylesheet", :type => "text/css"}

    / CSS
    %link{:rel => "stylesheet", :href => "/normalize.css"}
    %link{:rel => "stylesheet", :href => "/skeleton.css"}
    %link{:rel => "stylesheet", :href => "/flex.css"}

    / Favicon
    %link{:rel => "icon", :type => "image/ico", :href => "/favicon.ico"}

    / JS
    / %script{:async => "async", :src => "https://platform.twitter.com/widjet.js", :charset => "utf-8"}
    / %script{:type => "text/javascript", :src => "/instafeed.min.js"}
    %script{:type => "text/javascript", :src => "/dropdown.js"}

  %body
    / Primary Page Layout
    .container{:align => "center"}
      .row
        .eleven.columns{:style => "margin-top: 5%"}
          %button{:onclick => "dropdownFnc()", :class => "dropdown"} 3 Days Ago
          .dropdown-content{:id => "myDropdown"}
            %a{:href => "/"} Today
            %a{:href => "yesterday"} Yesterday
          %h3 Gary Vaynerchuk said:
          .flex-container
            %section
              %h6
                %a{:href => "https://www.youtube.com/user/GaryVaynerchuk/videos"} Youtube Videos
                goes here! (Query based on date posted)

            %section.social-media
              #fb
                %p
                  %a{:href => "https://www.facebook.com/gary/"}FB feed
                  goes here!
              #twt
                %p
                  %a{:href => "https://twitter.com/garyvee"} Tweets
                  go here!
              #inst
                %p
                  %a{:href => "https://www.instagram.com/garyvee/"}Instagram feed
                  goes here!

    / Fix footer to align based on container
    #footer
      Built by
      %a{:href => "http://brightdotu.com"}
        %i Bright
