-# Note to Self: Review variable scopes. Making 'time' an instance variable cost you at least 36 hrs

%iframe{:id => "player", :type => "text/html", :width => "640", :height => "390", :src => @youtube_url.create_playlist_url(time), :frameborder => "0"}
