!!!
%html{:lang => "en"}
  = haml :head

  %body
    / Primary Page Layout
    .container{:align => "center"}
      .row
        .eleven.columns{:style => "margin-top: 5%"}
          %button{:onclick => "dropdownFnc()", :class => "dropdown"} Yesterday
          .dropdown-content{:id => "myDropdown"}
            %a{:href => "threedays"} 3 Days Ago
            %a{:href => "/"} Today
          %h3 Gary Vaynerchuk said:
          .flex-container
            %section
              = haml :videos, :locals => {:time => Date.today.prev_day}

            %section.social-media
              #fb
                %p
                  %a{:href => "https://www.facebook.com/gary/"}FB feed
                  goes here!
              #twt
                %p
                  %a{:href => "https://twitter.com/garyvee"} Tweets
                  go here!
              #inst
                %p
                  %a{:href => "https://www.instagram.com/garyvee/"}Instagram feed
                  goes here!

    = haml :footer
